@font-face {
    font-family: 'Futura_PT_Medium';
    src: url(font/FuturaPT/FuturaPT-Medium.eot) format("embedded-opentype"),
    url(font/FuturaPT/FuturaPT-Medium.ttf) format("truetype"),
    url(font/FuturaPT/FuturaPT-Medium.woff) format("woff");
}

@font-face {
    font-family: 'NexonLv2Gothic_Medium';
    src: url(font/NexonLv2Gothic/NEXON-Lv2-Gothic-Medium.ttf) format("truetype"),
    url(font/NexonLv2Gothic/NEXON-Lv2-Gothic-Medium.woff) format("woff");
}
@font-face {
    font-family: 'D-DINCondensed-Bold';
    src: 
    url(/public_html/css/font/FontsFree-Net-D-DINCondensed-Bold.ttf) format("truetype"),
    
}

html, body{
    height: 100%;
}

#object{
    
    position: absolute;
    width: 800px;

    left: -200px;
    top: 100px;  
}
#eye{
    /* cursor:pointer; */
     cursor:url(../img/deco\ ver.png) 16 16, auto; 
     position: absolute;
    width: 800px;

    left: 700px;
    top: 80px;  
}

#joaa{
    /* cursor:pointer; */
     cursor:url(../img/deco\ ver.png) 16 16, auto; 
     position: absolute;
    width: 850px;

    left: 30px;
    top: 450px;  
}
#pattern{
    /* cursor:pointer; */
     cursor:url(../img/deco\ ver.png) 16 16, auto; 
     position: absolute;
    width: 700px;

    left: 360px;
    top: 100px;   
}

#sandwich{
    /* cursor:pointer; */
     cursor:url(../img/deco\ ver.png) 16 16, auto; 
     position: absolute;
    width: 750px;

    left: 550px;
    top: 450px;  
}


/* 
#mainContainer{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

#upContainer{
    display: flex;
    justify-content: space-between;

}

#downContainer{
    display: flex;
    justify-content: space-evenly;

} */