body, html {
    margin: 0;
    border: none;
}

.container{
    display: grid;
    grid-template-columns: 270px 1fr ;
    
}
.sideBar{
    margin: 20px;
    width:500px;
}

.arrowImg{
    cursor: pointer;
    position: fixed;
    top: 50px;
    margin: 10px;
    width:150px;
    
    
}

.sideBarContainer{
    position: sticky;
    margin: 0%;
   border-right:  solid 1pt black;  
}



#img3{
    /* cursor:pointer; */
    margin: 30px;
width: 1200px;
left: 60px;
top: 652px;
}
#img4{
    
    margin: 30px;
    width: 1000px;   
}
#img5{
    
    margin: 30px;
    width: 800px;   
}

